{{ $item := .item }}
{{ $has_attachments := partial "functions/has_attachments" $item }}

<div class="pub-list-item view-citation" style="margin-bottom: 1rem">
  <i class="far fa-file-alt pub-icon" aria-hidden="true"></i>

  {{/* APA Style */}}
  {{ if eq (site.Params.publications.citation_style | default "apa") "apa" }}
    <span class="article-metadata li-cite-author">
      {{ range $index, $author := $item.Params.authors }}
        {{ if gt $index 0 }}, {{ end }}
        {{ with site.GetPage (printf "authors/%s" $author) }}
          {{ if .Params.external_link }}
            <a href="{{ .Params.external_link }}" target="_blank" rel="noopener noreferrer">
              {{ .Title }}
            </a>
          {{ else if .RelPermalink }}
            <a href="{{ .RelPermalink }}">
              {{ .Title }}
            </a>
          {{ else }}
            {{ .Title }}
          {{ end }}
        {{ else }}
          {{ $author }}
        {{ end }}
      {{ end }}
    </span>
    ({{ $item.Date.Format "2006" }}).
    <a href="{{ $item.RelPermalink }}" class="underline" style="color: blue;">{{ $item.Title }}</a>.
{{ if $item.Params.publication_short }}
  <span class="text">{{ $item.Params.publication_short | markdownify }}</span>.
{{ else if $item.Params.publication }}
  {{ $publicationParts := split $item.Params.publication "*" }}
  {{ if gt (len $publicationParts) 1 }}
    {{ index $publicationParts 0 }}<span style="color: red;"><em>{{ index $publicationParts 1 }}</em></span>{{ index $publicationParts 2 }}.
  {{ else }}
    {{ $item.Params.publication | markdownify }}.
  {{ end }}
{{ end }}

    {{ if $item.Params.summary }}
    <div class="summary" style="margin: 1em 0;">
      {{ $item.Params.summary | markdownify | emojify }}
    </div>
  {{ else if $item.Params.abstract }}
    <div class="summary" style="margin: 1em 0;">
      {{ $item.Params.abstract | markdownify | emojify | truncate (site.Params.abstract_length | default 135) }}
    </div>
  {{ end }}


    {{ if $has_attachments }}
    <div class="flex flex-wrap space-x-3">
      {{ partial "page_links" (dict "page" $item "is_list" 1) }}
    </div>
    {{ end }}

  {{/* MLA Style */}}
  {{ else }}
    <span class="article-metadata li-cite-author">
      {{ range $index, $author := $item.Params.authors }}
        {{ if gt $index 0 }}, {{ end }}
        {{ with site.GetPage (printf "authors/%s" $author) }}
          {{ if .Params.external_link }}
            <a href="{{ .Params.external_link }}" target="_blank" rel="noopener noreferrer">
              {{ .Title }}
            </a>
          {{ else if .RelPermalink }}
            <a href="{{ .RelPermalink }}">
              {{ .Title }}
            </a>
          {{ else }}
            {{ .Title }}
          {{ end }}
        {{ else }}
          {{ $author }}
        {{ end }}
      {{ end }}
    </span>
    <a href="{{ $item.RelPermalink }}">{{ $item.Title }}</a>.
    {{ if $item.Params.publication_short }}
      {{ $item.Params.publication_short | markdownify }},
    {{ else if $item.Params.publication }}
      {{ $item.Params.publication | markdownify }},
    {{ end }}
    {{ $item.Date.Format "2006" }}.

    {{ if $has_attachments }}
    <div class="flex flex-wrap space-x-3">
      {{ partial "page_links" (dict "page" $item "is_list" 1) }}
    </div>
    {{ end }}
  {{ end }}
</div>
